/* Mobile and Tablet Layout */

@media only screen and (max-width: 1023px) {
    #formulary {
        width: 80%;
        height: 300px;
    }
    #id_password {
        width: 55%;
        height: 25px;
        text-align: center;
        font-size: 25px;
    }
}

/* Desktop layout */

@media only screen and (min-width: 1024px) {
    #formulary {
        width: 50%;
        height: 300px;
    }
}

body {
    text-align: center;
    background-repeat: no-repeat;
}

#formulary {
    position: relative;
    margin: 20px auto;
    text-align: center;
    border-radius: 40px;
    color: #535353;
    background-color: #ffffff31;
}

/* Label and Input */

.inputBox {
    padding-top: 5px;
}

.inputBox>h3 {
    font-weight: 400;
    letter-spacing: 2px;
}

.inputField {
    width: 55%;
    height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: 450;
    color: #535353;
    border: solid 0.4px #696969;
    border-radius: 20px;
    transition-duration: 500ms;
}

#id_username:focus {
    width: 60%;
    border: solid 1px #4242ff;
}

#id_password:focus {
    width: 60%;
    border: solid 1px #4242ff;
}

/* Submit button */

#id_login {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #4242ff;
    background-color: #f5f5f5;
    border: solid 0.4 #696969;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 400ms;
}

#id_login:hover {
    width: 100px;
    letter-spacing: 2px;
    border: solid 1px;
    color: #f5f5f5;
    background-color: #4242ff;
}

a#signUp {
    letter-spacing: 1px;
    color: #4242ff;
    transition-duration: 500ms;
}

a#signUp:hover {
    letter-spacing: 5px;
}

#errorMessage {
    font-size: 15px;
    font-weight: 400;
    color: #ff4242;
}