body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav#navBar {
    background-color: #e0e0e0;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 70% repeat(3, auto);
}

div.navItem {
    text-align: center;
    align-self: center;
}

/* Mobile only */
@media only screen and (max-width: 768px) {
    #logo {
        font-size: 20px;
    }
}
/* Desktop and Tablet layout */
@media only screen and (min-width: 768px) {
    #logo {
        font-size: 30px;
    }
}

a#logo {
    color: #2c2c2c;
    font-weight: 60;
    margin: -70px 5px 0 0;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Mac Style Buttons */

.dot {
    height: 27px;
    width: 27px;
    background-color: #ff2525;
    border-radius: 50%;
    display: inline-block;
}

#loginButton {
    background-color: #00ca56;
    border: 1.3px solid #009942;
    transition-duration: 300ms;
}

#loginButton:hover {
    background-color: #029740;
}

#profileButton {
    background-color: #ffbd4c;
    border: 1.3px solid #e09e3e;
    transition-duration: 300ms;
}

#profileButton:hover {
    background-color: #c08e38;
}

#logoutButton {
    background-color: #ff5c5c;
    border: 1.3px solid #e33e41;
    transition-duration: 300ms;
}

#logoutButton:hover {
    background-color: #c14645;
}