body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Mobile only */

@media only screen and (max-width: 768px) {
    nav#navBar {
        display: grid;
        grid-template-rows: 60px;
        grid-template-columns: repeat(3, 10%) 70%;
        background-color: #e0e0e0;
    }
    /* Colored Buttons */
    .dot {
        width: 20px;
        height: 20px;
    }
    #logo {
        font-size: 20px;
    }
}

/* Desktop and Tablet layout */

@media only screen and (min-width: 768px) {
    nav#navBar {
        display: grid;
        grid-template-rows: 60px;
        grid-template-columns: repeat(3, auto) 70%;
        background-color: #e0e0e0;
    }
    /* Colored Buttons */
    .dot {
        width: 27px;
        height: 27px;
    }
    #logo {
        font-size: 30px;
    }
}

div.navItem {
    text-align: center;
    align-self: center;
}

a#logo {
    margin: -70px 5px 0 0;
    text-align: center;
    text-decoration: none;
    font-weight: 60;
    color: #2c2c2c;
}

a:hover {
    text-decoration: none;
}

/* Mac Style Buttons */

.dot {
    display: inline-block;
    border-radius: 50%;
    background-color: #ff2525;
}

#loginButton {
    border: 1.3px solid #009942;
    background-color: #00ca56;
    transition-duration: 300ms;
}

#loginButton:hover {
    background-color: #029740;
}

#profileButton {
    border: 1.3px solid #e09e3e;
    background-color: #ffbd4c;
    transition-duration: 300ms;
}

#profileButton:hover {
    background-color: #c08e38;
}

#logoutButton {
    border: 1.3px solid #e33e41;
    background-color: #ff5c5c;
    transition-duration: 300ms;
}

#logoutButton:hover {
    background-color: #c14645;
}