* {
    box-sizing: content-box;
}

body {
    background-repeat: no-repeat;
    text-align: center;
}

div>a {
    color: #6d6dff;
    font-size: 20px;
    font-weight: 400;
    transition-duration: 300ms;
}

div>a:hover {
    color: #4d4dff;
    font-weight: 700;
}

/* Mobile Layout */

@media only screen and (max-width: 728px) {
    /* All profile content */
    #profileBox {
        display: grid;
        grid-template-rows: 260px 350px;
        grid-template-columns: auto;
        text-align: center;
    }
    /* All text: name, email.. */
    #profileText {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    /* Email and Last Time Login */
    #extraInfoProfile {
        grid-column: 1/3;
    }
    /* All h1 -> has variables  */
    .itemProfile {
        font-size: 20px;
    }
}

/* Desktop and Tablet Layout */

@media only screen and (min-width: 729px) {
    /* All profile content */
    #profileBox {
        height: auto;
        display: grid;
        margin: 0 10% 0 10%;
        grid-template-rows: 400px;
        grid-template-columns: 40% 40%;
        text-align: center;
    }
    /* All text: name, email.. */
    #profileText {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 70%;
        text-align: justify;
        padding-left: 3%;
    }
    /* Email and Last Time Login */
    #extraInfoProfile {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    /* All h1 -> has variables  */
    .itemProfile {
        font-size: 25px;
    }
}

/* Defining Colors and font */

#profileBox {
    background-color: #ebebebc4;
    background-position: auto;
    border-radius: 40px;
    margin: 5%;
}

.itemTitleProfile {
    color: #8989ff;
    font-weight: 500;
    font-size: 20px;
}

.itemProfile {
    color: #414141;
    font-weight: 200;
}

/* Last time Login */

#lastLogin {
    font-size: 20px;
}

#profilePhoto {
    margin-top: 50px;
}