<nav>
    <div>
        <a id="logo" href="/">Django Web Dev</a>
    </div>
    <div class="navItem">
        <a class="navButton" href="/accounts/login"><span id="loginButton" class="dot"></span></a>
    </div>
    <div class="navItem">
        <a class="navButton" href="/accounts/login"><span id="profileButton" class="dot"></span></a>
    </div>
    <div class="navItem">
        <a class="navButton" href="/accounts/logout">
            <span id="logoutButton" class="dot"></span>
        </a>
    </div>
</nav>