<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_auth/css/index_style.css'%}">
    <title>Auth.me</title>
</head>

<body>
    {% include "user_auth/navbar.html"%}

    <!-- About Content -->
    <div id="content">
        <div id="contentImg">
            <img id="mainImg" width="100%" height="100%"
                src="https://glaucocustodio.github.io/assets/come%C3%A7ando-com-django-framework1.jpg">
        </div>
        <!-- About the Project -->
        <div id="contentText">
            <h1>Authenticate Me</h1>
            <p style="text-align: justify;">
                &emsp;Web with django makes our lifes so much easier. Here you gonna find an app that authenticate
                an user and show his personal info. Try pressing on the top left buttons to use the authentication
                system.
                <br>
                &emsp;One of the greatest things about Django is its versatility, because this app could be used in
                others projects, also known as reusability.
            </p>
        </div>
    </div>

    <!-- Contact: Email, github and python.org-->
    <h1 style="font-weight: 300;">Contact</h1>
    <div id="contact">
        <!-- Email -->
        <div class="contactItem">
            <a onclick="alert('Send to: lucas.alex.pagliari@gmail.com')">
                <img class="contactMediaLogo"
                    src="https://www.shareicon.net/data/512x512/2016/11/22/854957_email_512x512.png">
            </a>
            <div>
                <p>Email me</p>
            </div>
        </div>
        <!-- Github -->
        <div class="contactItem">
            <a target="_blank" href="https://github.com/lucaspagliari">
                <img class="contactMediaLogo"
                    src="https://github.githubassets.com/images/modules/logos_page/Octocat.png">
            </a>
            <div>
                <p>See my other projects</p>
            </div>
        </div>
        <!-- Python -->
        <div class="contactItem">
            <a target="_blank" href="https://www.python.org">
                <img class="contactMediaLogo" src="https://eventos.python.org.br/logo.png">
            </a>
            <div>
                <p>Python</p>
            </div>
        </div>
    </div>

</body>


</html>