<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'user_auth/css/index_style.css'%}">
        <title>index</title>
    </head>

<body>
    {% include "user_auth/navbar.html"%}

    <!-- Sobre Conteúdo -->
    <div id="content">
        <div id="contentImg">
            teste
        </div>
        <div id="contentText">
            <h1>django</h1>
            <p>texte</p>
        </div>
    </div>

    <!-- Contact: Email, github-->
    <h2>Contact</h2>
    <div id="contact">
        <div class="contactItem">
            <a onclick="alert('Send to: lucas.alex.pagliari@gmail.com')">
                <img class="contactMediaLogo"
                    src="https://www.shareicon.net/data/512x512/2016/11/22/854957_email_512x512.png">
            </a>
            <div>
                <p>Email me</p>
            </div>
        </div>
        <div class="contactItem">
            <a target="_blank" href="https://github.com/lucaspagliari">
                <img class="contactMediaLogo"
                    src="https://github.githubassets.com/images/modules/logos_page/Octocat.png">
            </a>
            <div>
                <p>See my other projects</p>
            </div>
        </div>
        <div class="contactItem">
            <a target="_blank" href="https://www.python.org">
                <img class="contactMediaLogo"
                    src="https://eventos.python.org.br/logo.png">
            </a>
            <div>
                <p>Python</p>
            </div>
        </div>
    </div>

</body>


</html>