<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_auth/css/login_style.css' %}">
    <title>Login</title>
</head>

<body style="background-image:url( {% static 'user_auth/img/blur_background.jpg' %} )">
    <!-- Inserting Navigation Bar -->
    {% include "user_auth/navbar.html"%}

    <!-- Formulary -->
    <form id="formulary" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="inputBox">
            <h3>
                {{form.username.label}}
            </h3>
            {{form.username}}
        </div>
        <div class="inputBox">
            <h3>
                {{form.password.label}}
            </h3>
            {{form.password}}
        </div>
        <input id="id_login" type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">

    </form>
    <p>Create an account! <br> <a id="signUp" href="/accounts/register">Sign Up</a></p>
    <!--  -->
    {% for error in form.non_field_errors %}
        <div>
            <h4 id="errorMessage">{{ error|escape }}</h4>
        </div>
    {% endfor %}
</body>

</html>